.category-container {
    padding: 0 20px 10px 20px;
    color: #8a9ca5;
    font-size: 14px;
    box-shadow: 0 -1px 0 #babac0 inset;
}

.category-container .main-category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sub-category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-in-out;
}

.category {
    display: flex;
    align-items: center;
    cursor:pointer;
    font-weight: bold;
    padding: 0 5px 5px 0;
    opacity: 0.6;
    transition: 0.3s;
}

.sub-category.active {
    padding-top: 5px;
    max-height: 100px;
    transition: max-height 0.25s ease-in;
}

.category.active, .category:hover{
    opacity: 1;
    color: #d94f5c;
}