.slide-pane_overlay {
    position: absolute;
}

.slide-pane__header {
    background-color: #222;
    color: #fff;
}

.slide-pane__subtitle {
    color: #6c757d;
}

.slide-pane__close {
    margin-left: 5px;
    padding: 10px;
}

.slide-pane__title-wrapper {
    margin-left: 5px;
}

.slide-pane__content {
    padding: 0;
    background-color: #222;
}