
/**
 * SlidingPane Layer Popup
 -----------------------------*/
.item-detail-container {
    background-color: #222;
    min-height: 100px;
    padding: 10px 30px;
}

.item-detail-container .desc {
    display: flex;
    flex-direction: column;
    color: #bbb;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 14px;
}

.table-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #222;
    width: 100%;
}

.table-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.header {
    border: none;
    overflow: auto auto;
    text-transform: uppercase;
    color: #bbb;
    font-size: 12px;
    font-weight: bold;
}

.row-item {
    display: flex;
    flex: 1;
    padding: 3px 0;
    justify-content: center;
    align-items: center;
}
