* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #2d2c41;
}

ul {
    list-style-type: none;
}

.main-container {
    background-color: #fff;
    font-size: 15px;
    color: #455963;
}

.main-container > .title {
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;
    padding: 20px 20px 6px 20px;
}


.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

