
.list-container {
    overflow-y: scroll;
    max-height: 400px;
    background: #FFF;
}

.list-container .link {
    cursor: pointer;
    display: block;
    padding: 12px 20px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.list-container li:last-child .link {
    border-bottom: 0;
}

.list-container li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.list-container div i.chevron-down {
    right: 12px;
    left: auto;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml; charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='16px' viewBox='0 0 16 16' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 15.027344 7.214844 L 8.402344 13.832031 C 8.289062 13.945312 8.15625 14 8 14 C 7.84375 14 7.710938 13.945312 7.597656 13.832031 L 0.972656 7.214844 C 0.859375 7.101562 0.804688 6.964844 0.804688 6.808594 C 0.804688 6.648438 0.859375 6.515625 0.972656 6.402344 L 2.457031 4.929688 C 2.570312 4.816406 2.703125 4.757812 2.855469 4.757812 C 3.011719 4.757812 3.144531 4.816406 3.257812 4.929688 L 8 9.667969 L 12.742188 4.929688 C 12.855469 4.816406 12.988281 4.757812 13.144531 4.757812 C 13.296875 4.757812 13.429688 4.816406 13.542969 4.929688 L 15.027344 6.402344 C 15.140625 6.515625 15.195312 6.648438 15.195312 6.808594 C 15.195312 6.964844 15.140625 7.101562 15.027344 7.214844 Z M 15.027344 7.214844 '/%3E%3C/g%3E%3C/svg%3E%0A");
}

.list-container div.open, .list-container div.open i.chevron-down{
    color: #d94f5c;
}

.list-container div.open i.chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**
 * Customize scroll
 -----------------------------*/
/* total width */
.scrollbar::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    background-color:#fff
}
.scrollbar::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}

